{% extends 'base.html' %}


{% block title %}
    Change password
{% endblock title %}



{% block main %}
<div class="container">
    <h1 class="text-center mt-5">Change password</h1>
        <div class="shadow p-3 mb-5 bg-body rounded col-md-6 mx-auto">

            <p>Change Your passwrod here</p>

        <div class="col-md-10 mx-auto">
                
            <form action="." method="POST" novalidate>
                {% csrf_token %}
                {{form.as_p}}

                <button type="submit" class="btn btn-primary mt-3">Change</button>


            </form>

        </div>
        
    </div>
</div>

{% endblock main %}
    